# Terraform / OpenTofu state
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
tfplan
.terraform.lock.hcl

# Go test binaries and coverage
*.test
*.out
*.prof

# OS specific files
.DS_Store
Thumbs.db

# AWS Profile Local Environment File
.aws_profile_env

# GCP Profile Local Environment File
.gcp_profile_env
